# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  build:
    docker:
       - image: cimg/ruby:3.1.3

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Pull submodules
          command: |
            git submodule init
            git submodule update --remote

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: Update config
          command: |
            echo "CIRCLE_BUILD_URL: $CIRCLE_BUILD_URL"
            echo "CIRCLE_NODE_INDEX: $CIRCLE_NODE_INDEX"
            echo "CIRCLE_ARTIFACTS: $CIRCLE_ARTIFACTS"
            echo "url: \"$CIRCLE_BUILD_URL$CIRCLE_NODE_INDEXartifacts$CIRCLE_ARTIFACTS\""
            echo "baseurl: \"/0/site-preview/\""
            echo "url: \"$CIRCLE_BUILD_URL$CIRCLE_NODE_INDEXartifacts$CIRCLE_ARTIFACTS\"" > _config-tc.yml
            echo "baseurl: \"/0/site-preview/\"" >> _config-tc.yml

      - run: bundle exec jekyll build --config _config.yml,_config-tc.yml

      - run:
          name: Add index redirects
          command: |
            cat <<EOT >> _site/assets/js/main.js
              \$('a').on('click', function(e) {
                  const current = e.originalEvent.currentTarget.href;
                  const urlParts = current.split('/');
                  if (urlParts.length < 2) return;

                  const last = urlParts[urlParts.length - 1];
                  if (last === '' || last.indexOf('.') === -1) {
                      e.originalEvent.currentTarget.href = current + (last === '' ? '' : '/') + 'index.html';
                  }
              });
              EOT

      - store_artifacts:
          path: ~/repo/_site
          destination: site-preview
