# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  build:
    docker:
       - image: cimg/ruby:3.1.3

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Pull submodules
          command: |
            git submodule init
            git submodule update --remote

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: Update config
          command: |
            # The template for artifacts is documented h
            # here https://support.circleci.com/hc/en-us/articles/5034956515355-How-to-Programmatically-Construct-the-URLs-for-Artifacts
            # As of Feb 16, 2023

            # It looks something like:
            # https://output.circle-artifacts.com/output/job/e14e97ae-9254-4e73-83ee-d3ccd354a45b/artifacts/0/site-preview/index.html
            # so the url is https://output.circle-artifacts.com
            # and the baseurl is /output/job/{jobid}/artifacts/0/site-preview/
            # the jobid is given by ${CIRCLE_WORKFLOW_JOB_ID}

            echo "url: \"https://output.circle-artifacts.com\"" > _config-tc.yml
            echo "baseurl: \"/output/job/${CIRCLE_WORKFLOW_JOB_ID}/artifacts/0/site-preview/\"" >> _config-tc.yml

      - run: bundle exec jekyll build --config _config.yml,_config-tc.yml

      - run:
          name: Add index redirects
          command: |
            cat <<EOT >> _site/assets/js/main.js
              \$('a').on('click', function(e) {
                  const current = e.originalEvent.currentTarget.href;
                  const urlParts = current.split('/');
                  if (urlParts.length < 2) return;

                  const last = urlParts[urlParts.length - 1];
                  if (last == 'v4') {
                    e.originalEvent.currentTarget.href = current + ".html";
                    return;
                  }
                  if (last === '' || last.indexOf('.') === -1) {
                      e.originalEvent.currentTarget.href = current + (last === '' ? '' : '/') + 'index.html';
                  }
              });
            EOT

      - store_artifacts:
          path: ~/repo/_site
          destination: site-preview

      - run:
          name: Post Preview URL to GitHub PR
          command: |
            sudo apt-get install jq

            pr_response=$(curl --location --request GET "https://api.github.com/repos/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/pulls/$CIRCLE_PR_NUMBER/comments" \
            -u $GH_USER:$GH_TOKEN)

            if [ $(echo $pr_response | jq length) -eq 0 ]; then
              echo "No PR found to update"
            else
              pr_comment_url=$(echo $pr_response | jq -r ".[]._links.comments.href")
            fi

            # Find all comments that already say "Circle CI Preview Available"
            # Based on following command that works (Note we use /issues and not /pulls because these comments are not on specific code blocks)
            # curl https://api.github.com/repos/metasys-server/api-landing/issues/68/comments | jq '.[] | {body: .body, url: .url} | select(.body | contains("required"))'
            pr_comments_response=$(curl --location --request GET "https://api.github.com/repos/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/issues/$CIRCLE_PR_NUMBER/comments" \
            -u $GH_USER:$GH_TOKEN | jq '.[] | {body: .body, url: .url} | select(.body | contains("Circle CI Preview Available"))')

            # Add a new comment with new Preview
            curl -X Post -H "Accept: application/vnd.github+json" -u "$GH_USER:$GH_TOKEN" \
            "https://api.github.com/repos/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/issues/$CIRCLE_PR_NUMBER/comments" \
            -d '{"body": "Circle CI Preview Available: https://output.circle-artifacts.com/output/job/${CIRCLE_WORKFLOW_JOB_ID}/artifacts/0/site-preview/index.html"}'

            # Delete all previous comments


